.body {
    background: url("../doc/wall-login.svg") no-repeat fixed;
    background-size: cover;
}


.error {
    color: #5a5c69;
    font-size: 7rem;
    position: relative;
    line-height: 1;
    width: 12.5rem;
}

@-webkit-keyframes noise-anim {
    0% {
        clip: rect(32px, 9999px, 16px, 0);
    }
    5% {
        clip: rect(5px, 9999px, 24px, 0);
    }
    10% {
        clip: rect(77px, 9999px, 87px, 0);
    }
    15% {
        clip: rect(91px, 9999px, 95px, 0);
    }
    20% {
        clip: rect(74px, 9999px, 9px, 0);
    }
    25% {
        clip: rect(37px, 9999px, 32px, 0);
    }
    30% {
        clip: rect(56px, 9999px, 27px, 0);
    }
    35% {
        clip: rect(35px, 9999px, 33px, 0);
    }
    40% {
        clip: rect(89px, 9999px, 6px, 0);
    }
    45% {
        clip: rect(81px, 9999px, 77px, 0);
    }
    50% {
        clip: rect(64px, 9999px, 69px, 0);
    }
    55% {
        clip: rect(12px, 9999px, 11px, 0);
    }
    60% {
        clip: rect(59px, 9999px, 11px, 0);
    }
    65% {
        clip: rect(69px, 9999px, 59px, 0);
    }
    70% {
        clip: rect(74px, 9999px, 65px, 0);
    }
    75% {
        clip: rect(56px, 9999px, 79px, 0);
    }
    80% {
        clip: rect(80px, 9999px, 64px, 0);
    }
    85% {
        clip: rect(87px, 9999px, 29px, 0);
    }
    90% {
        clip: rect(16px, 9999px, 21px, 0);
    }
    95% {
        clip: rect(69px, 9999px, 43px, 0);
    }
    100% {
        clip: rect(75px, 9999px, 63px, 0);
    }
}

@keyframes noise-anim {
    0% {
        clip: rect(32px, 9999px, 16px, 0);
    }
    5% {
        clip: rect(5px, 9999px, 24px, 0);
    }
    10% {
        clip: rect(77px, 9999px, 87px, 0);
    }
    15% {
        clip: rect(91px, 9999px, 95px, 0);
    }
    20% {
        clip: rect(74px, 9999px, 9px, 0);
    }
    25% {
        clip: rect(37px, 9999px, 32px, 0);
    }
    30% {
        clip: rect(56px, 9999px, 27px, 0);
    }
    35% {
        clip: rect(35px, 9999px, 33px, 0);
    }
    40% {
        clip: rect(89px, 9999px, 6px, 0);
    }
    45% {
        clip: rect(81px, 9999px, 77px, 0);
    }
    50% {
        clip: rect(64px, 9999px, 69px, 0);
    }
    55% {
        clip: rect(12px, 9999px, 11px, 0);
    }
    60% {
        clip: rect(59px, 9999px, 11px, 0);
    }
    65% {
        clip: rect(69px, 9999px, 59px, 0);
    }
    70% {
        clip: rect(74px, 9999px, 65px, 0);
    }
    75% {
        clip: rect(56px, 9999px, 79px, 0);
    }
    80% {
        clip: rect(80px, 9999px, 64px, 0);
    }
    85% {
        clip: rect(87px, 9999px, 29px, 0);
    }
    90% {
        clip: rect(16px, 9999px, 21px, 0);
    }
    95% {
        clip: rect(69px, 9999px, 43px, 0);
    }
    100% {
        clip: rect(75px, 9999px, 63px, 0);
    }
}

.error:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 #e74a3b;
    top: 0;
    color: #5a5c69;
    background: #f8f9fc;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
}

@-webkit-keyframes noise-anim-2 {
    0% {
        clip: rect(12px, 9999px, 52px, 0);
    }
    5% {
        clip: rect(42px, 9999px, 39px, 0);
    }
    10% {
        clip: rect(64px, 9999px, 36px, 0);
    }
    15% {
        clip: rect(52px, 9999px, 15px, 0);
    }
    20% {
        clip: rect(79px, 9999px, 7px, 0);
    }
    25% {
        clip: rect(17px, 9999px, 41px, 0);
    }
    30% {
        clip: rect(15px, 9999px, 20px, 0);
    }
    35% {
        clip: rect(62px, 9999px, 87px, 0);
    }
    40% {
        clip: rect(94px, 9999px, 11px, 0);
    }
    45% {
        clip: rect(49px, 9999px, 10px, 0);
    }
    50% {
        clip: rect(82px, 9999px, 4px, 0);
    }
    55% {
        clip: rect(70px, 9999px, 100px, 0);
    }
    60% {
        clip: rect(62px, 9999px, 23px, 0);
    }
    65% {
        clip: rect(51px, 9999px, 56px, 0);
    }
    70% {
        clip: rect(41px, 9999px, 24px, 0);
    }
    75% {
        clip: rect(6px, 9999px, 85px, 0);
    }
    80% {
        clip: rect(96px, 9999px, 58px, 0);
    }
    85% {
        clip: rect(16px, 9999px, 24px, 0);
    }
    90% {
        clip: rect(40px, 9999px, 31px, 0);
    }
    95% {
        clip: rect(91px, 9999px, 34px, 0);
    }
    100% {
        clip: rect(87px, 9999px, 26px, 0);
    }
}

@keyframes noise-anim-2 {
    0% {
        clip: rect(12px, 9999px, 52px, 0);
    }
    5% {
        clip: rect(42px, 9999px, 39px, 0);
    }
    10% {
        clip: rect(64px, 9999px, 36px, 0);
    }
    15% {
        clip: rect(52px, 9999px, 15px, 0);
    }
    20% {
        clip: rect(79px, 9999px, 7px, 0);
    }
    25% {
        clip: rect(17px, 9999px, 41px, 0);
    }
    30% {
        clip: rect(15px, 9999px, 20px, 0);
    }
    35% {
        clip: rect(62px, 9999px, 87px, 0);
    }
    40% {
        clip: rect(94px, 9999px, 11px, 0);
    }
    45% {
        clip: rect(49px, 9999px, 10px, 0);
    }
    50% {
        clip: rect(82px, 9999px, 4px, 0);
    }
    55% {
        clip: rect(70px, 9999px, 100px, 0);
    }
    60% {
        clip: rect(62px, 9999px, 23px, 0);
    }
    65% {
        clip: rect(51px, 9999px, 56px, 0);
    }
    70% {
        clip: rect(41px, 9999px, 24px, 0);
    }
    75% {
        clip: rect(6px, 9999px, 85px, 0);
    }
    80% {
        clip: rect(96px, 9999px, 58px, 0);
    }
    85% {
        clip: rect(16px, 9999px, 24px, 0);
    }
    90% {
        clip: rect(40px, 9999px, 31px, 0);
    }
    95% {
        clip: rect(91px, 9999px, 34px, 0);
    }
    100% {
        clip: rect(87px, 9999px, 26px, 0);
    }
}

.error:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 #4e73df;
    top: 0;
    color: #5a5c69;
    background: #f8f9fc;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
}

/*.conteneur-part-1{
    text-align: center;
    display: flex;
    flex-direction: column;
    left: auto;
    right: auto;
}*/
.item-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.cardd {
    border: 0px !important;
}

.card-title {
    margin: 2em;
}

.wrapper-imgs-flex {
    display: flex;
    justify-content: space-between;
    /*border: 1px solid black;*/
    text-align: center;
    margin: 5em;
}

.img {
    width: 12em;
    height: 12em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    /*border: 1px solid black;*/
}

.nam {
    font-size: 2em;
}

.no-hover:hover {
    text-decoration: none;
}

.txt1 {

    font-size: 15px;
    color: #999999;
    line-height: 1.5;
}

.txt2 {

    font-size: 15px;
    color: #730EBD;
    line-height: 1.5;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.fontawesome{
    font-family: 'Roboto', 'Font Awesome 5 Free', serif;
}

.wrapper-img-profile{
    /*border: 1px solid rgba(121, 121, 121, 0.418);*/
    width: 300px;
    height: 300px;
    border-radius: 100000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    overflow: hidden;
    /*position: absolute;*/
    background-color: #E7E7E7;
    /*-webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.20), 0 20px 20px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.20), 0 20px 20px rgba(0, 0, 0, 0.10);
    -ms-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.20), 0 20px 20px rgba(0, 0, 0, 0.10);
    -o-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.20), 0 20px 20px rgba(0, 0, 0, 0.10);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.20), 0 20px 20px rgba(0, 0, 0, 0.10);;*/
}
.card-img-top{
    height: 100%;
    width: auto;
    margin-top: -5px;
}
.wall-white {
    background: url("../doc/wall-white.svg") no-repeat fixed;
    background-size: cover;
}
.wall-white-nav {
    background: url("../doc/wall-white-nav.png") no-repeat fixed;
    background-size: cover;
}
.wrapper-img-grid{
    background-color: #E7E7E7;
    /*border: 1px solid rgba(121, 121, 121, 0.418);*/
    width: 640px;
    height: 360px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}
/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10000px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #E7E7E7;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(207, 207, 207);
}

.btn-outline-fmm{
    color: #730EBD;
    border-color: #730EBD;
}

.btn-outline-fmm:hover{
    color: white;
    background-color: #730EBD;
    border-color: #730EBD;
}

@media (max-width: 576px) {
    .body {
        background: url("../doc/wall-login-small.svg") no-repeat fixed;
        background-size: cover;
    }
}