{% extends "index.html.twig" %}
{% block title %}{{ parent() }} - Recherche{% endblock %}

{% block body %}

    <div class="center text-center">
        <div class="error mx-auto" data-text="404">404</div>
        <p class="lead text-gray-800 mb-3">Désolé, personne n'aime {{ search }} chez nous</p>
        <p class="text-gray-500 mb-5">Pourtant j'aime aussi {{ search }}, on devrait devenir des Mates!</p>
        <a href="/" class="lead txt2">&larr; Retour à l'accueil</a>
    </div>

{% endblock %}