{% extends "index.html.twig" %}
{% block title %}{{ parent() }} - Recherche{% endblock %}

{% block body %}

    <div class="center text-center wall-white">
        <h1 class="display-3">Aucun Like</h1>
        <p class="lead text-gray-800 mb-3">Vous n'avez aucun Mates</p>
        <p class="text-gray-500 mb-5">Mais au vu de votre beauté, cela ne saurait tarder !</p>
        <a href="/" class="lead txt2">&larr; Retour à l'accueil</a>
    </div>

{% endblock %}