{% extends 'Error/error.html.twig' %}

{% block errortitle %}Comment t'es arrivé là toi...{% endblock %}
{% block errordesc %}Tu as essayé de bidouiller, non? Tu m'intéresses bien toi! <br> <a href="mailto:florian.leroux@viacesi.fr">Contacte-moi &#128521;</a>{% endblock %}