{% extends "index.html.twig" %}
{% block title %}{{ parent() }} - Profil {% endblock %}

{% block body %}
    <div class="container-fluid">

        <!-- 404 Error Text -->
        <div class="text-center mt-5">
            <div class="error mx-auto" data-text="404">404</div>
            <p class="lead text-gray-800 mb-1">Ah, celle-là je ne la connaissais pas</p>
            <p class="text-gray-500 mb-5">Dites moi, vous ne seriez pas un aventurier hors-pair?</p>
            <a href="{{ server.document_root }}/index.php">&larr; Retour à l'accueil</a>
        </div>

    </div>
{% endblock %}