{% extends "index.html.twig" %}

{% block title %}{{ parent() }}Mon profil {% endblock %}

{% block body %}

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src=".../100px180/" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <button class="btn btn-primary">add</button>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Prenom Nom</h5>
    <button class="btn btn-primary">add</button>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src=".../100px180/" alt="Card image cap">
  <div class="card-body">
    <button class="btn btn-primary">add</button>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src=".../100px180/" alt="Card image cap">
  <div class="card-body">
    <button class="btn btn-primary">add</button>
  </div>
</div>

{% endblock %}
